<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
     <link rel="stylesheet" th:href="@{/css/products.css}">
     <link rel="stylesheet" th:href="@{/css/common.css}">

    <title>商品編集 - Food System Management</title>
</head>

<body>

    <!-- ヘッダー（一覧と共通） -->
    <header>
        <div class="version">Ver.1.0</div>

        <h1 class="title">Food System Management</h1>

	<form th:action="@{/logout}" method="post">
	    <div class="header-right">
	        <button type="submit">ログアウト</button>
	    </div>
	</form>
    </header>

    <!-- メイン -->
    <main class="page">

        <div class="page-header">
            <h2 th:text="${product.productName} + ' の編集'"></h2>
        </div>

        <!-- 編集カード -->
        <div class="table-card">

            <form th:action="@{/products/update}"
                  th:object="${product}"
                  method="post"
                  class="edit-form">

                <input type="hidden" th:field="*{id}">

                <div class="form-group">
                    <label>商品コード</label>
                    <input type="text" th:field="*{productNumber}">
                </div>

                <div class="form-group">
                    <label>商品名</label>
                    <input type="text" th:field="*{productName}">
                </div>

                <div class="form-group">
                    <label>価格</label>
                    <input type="number" th:field="*{price}">
                </div>

                
           
                    <a th:href="@{/products/list}" class="back-btn">

                        ← 商品一覧へ戻る
                    </a>

                    <button type="submit" class="add-btn">
                        更新
                    </button>
                    </form>
                </div>

    </main>

</body>
</html>