<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>商品一覧</title>
</head>
<body>

	<h1>商品管理（一覧）</h1>
	
	<form th:action="@{/products/search}" method="get">
		<input type="text" name="keyword" th:value="${keyword}" placeholder="商品名を入力…">
		<button type="submit">検索</button>
	</form>
	
	<table border="1">
		<tr th:each="product : ${productList}">
		    <td th:text="${product.id}"></td>
		    <td th:text="${product.productCode}"></td>
		    <td th:text="${product.productName}"></td>
		    <td th:text="${product.price}"></td>
		    <td th:text="${product.expirationDate}"></td>
		
		    <td>
		        <a th:href="@{/products/edit/{id}(id=${product.id})}">
		           <button>編集</button>
		        </a>
		    </td>
		
		    <td>
		        <form th:action="@{/products/delete/{id}(id=${product.id})}" method="post">
		            <button type="submit">削除</button>
		        </form>
		    </td>
		</tr>
	</table>
	

	<a href="">TOPへ戻る</a>
	<a th:href="@{/products/list}">商品一覧に戻る</a>
	
</body>
</html>