<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>商品登録</title>
</head>
<body>
	<h1>商品登録</h1>
	<form th:action="@{/products}" th:object="${product}" method="post">
		商品コード
		<input type="text" th:field="*{productCode}">
		<br>
		商品名
		<input type="text" th:field="*{productName}">
		<br>
		単価
		<input type="text" th:field="*{price}">
		<br>
		<button type="submit">登録</button>
	</form>
	
	<a th:href="@{/products/list}">製品一覧へ戻る</a>
	<a href="">管理TOPへ戻る</a>
	
</body>
</html>