<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
	href="https://fonts.googleapis.com/css2?family=Philosopher&display=swap"
	rel="stylesheet">

<link rel="stylesheet" th:href="@{/css/top.css}">
<link rel="stylesheet" th:href="@{/css/common.css}">
<script th:src="@{/js/top.js}" defer></script>

<title>Food System Management</title>

</head>

<body>

	<header>
		<div class="version">Ver.1.0</div>

		<h1 class="title">Food System Management</h1>
		<div class="header-right">
			<div class="loginName">
				ログイン中：<span th:text="${loginUserName}"></span> さん
			</div>
			<form th:action="@{/logout}" method="post">
				<button type="submit">ログアウト</button>
			</form>
		</div>
	</header>

	<nav>
		<a href="#" sec:authorize="hasAnyRole('ADMIN','PLANNER')"
			onclick="showMenu('order')"> 受注管理 </a> <a href="#"
			sec:authorize="hasAnyRole('ADMIN','PLANNER','WORKER')"
			onclick="showMenu('plan')"> 製造計画 </a> <a href="#"
			sec:authorize="hasAnyRole('ADMIN','PLANNER')"
			onclick="showMenu('master')"> マスタ管理 </a>
	</nav>

	<main>

		<!-- ======================
     ダッシュボード
====================== -->

		<div class="dashboard">
			<h2>ダッシュボード</h2>
			<div class="card-area">
				<!-- <div class="card">
		        
		            <h3>登録商品</h3>
		            <p><span th:text="${#numbers.formatInteger(dashboard.productCount,1,'COMMA')}">0</span> 件</p>
		        </div>
		
		        <div class="card">
		            <h3>登録原材料</h3>
		            <p><span th:text="${#numbers.formatInteger(dashboard.materialCount,1,'COMMA')}">0</span> 件</p>
		        </div> -->

				<div class="card">
					<h3>本日の製造予定</h3>
					<p>
						<span
							th:text="${#numbers.formatInteger(dashboard.productionPlanCount,1,'COMMA')}">0</span>
						件
					</p>
				</div>

				<div class="card warning">
					<h3>未処理受注</h3>
					<p>
						<span
							th:text="${#numbers.formatInteger(dashboard.unfinishedOrderCount,1,'COMMA')}">0</span>
						件
					</p>
				</div>
			</div>

			<h2>売上状況</h2>
			<div class="card-area">
				<div class="card sales">
					<h3>本日</h3>
					<p>
						¥<span
							th:text="${#numbers.formatInteger(dashboard.todaySales,1,'COMMA')}">0</span>
					</p>
				</div>
				<div class="card sales">
					<h3>今週</h3>
					<p>
						¥<span
							th:text="${#numbers.formatInteger(dashboard.weekSales,1,'COMMA')}">0</span>
					</p>
				</div>
				<div class="card sales">
					<h3>今月</h3>
					<p>
						¥<span
							th:text="${#numbers.formatInteger(dashboard.monthSales,1,'COMMA')}">0</span>
					</p>
				</div>
			</div>
		</div>


		<div id="message">
			<h2>メニューを選択してください</h2>
		</div>


		<!-- 受注 -->
		<section id="order" class="menu-card">
			<h2>受注管理</h2>
			<a th:href="@{/orders/list}" class="menu-btn">受注一覧</a>
		</section>



		<!-- 製造計画 -->
		<section id="plan" class="menu-card">
			<h2>製造計画</h2>
			<a th:href="@{/productionPlans/list}" class="menu-btn">製造計画一覧</a>
		</section>

		<!-- マスタ -->
		<section id="master" class="menu-card">
			<h2>マスタ管理</h2>
			<a th:href="@{/products/list}" class="menu-btn">商品一覧</a> <a
				th:href="@{/materials/list}" class="menu-btn">原材料一覧</a> <a
				sec:authorize="hasRole('ADMIN')" th:href="@{/users/list}"
				class="menu-btn">ユーザー一覧</a>
		</section>

	</main>

</body>
</html>