<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org">
<head>
<meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- リセットCSS -->
        <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">

    <!-- Googleフォント -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Philosopher&display=swap" rel="stylesheet">
        
    <!-- オリジナルCSS -->
		<link rel="stylesheet" th:href="@{/css/top.css}">
		
<title>Food System Management</title>
</head>

<body>
<header>
    <div class="version">Ver.1.0</div>

    <h1 class="title">Food System Management</h1>

	<div class="header-right">
			<button>ログアウト</button>
			<button>終了</button>
	</div>
</header>

<nav>
    <a th:href="@{/products/list}">商品管理</a>
    <a th:href="@{/orders/list}">商品受注管理</a>
    <a th:href="@{/materials/list}">原材料発注管理</a>
    <a th:href="@{/productplans/list}">製造計画</a>
    <a th:href="@{/masters/list}">マスタ管理</a>
</nav>

	<main>
		<section>
			<h2>商品管理</h2>
			<a th:href="@{/products/list}" class="menu-btn">商品一覧</a>
			<a th:href="@{/products/register}" class="menu-btn">商品登録</a>
		</section>

		<section>
			<h2>商品受注管理</h2>
			<a th:href="@{/orders/list}" class="menu-btn">受注一覧</a>
			<a th:href="@{/orders/register}" class="menu-btn">受注登録</a>
		</section>

		<section>
			<h2>原材料発注管理</h2>
			<a th:href="@{/materials/list}" class="menu-btn">原材料一覧</a>
			<a th:href="@{/materials/register}" class="menu-btn">原材料登録</a>
		</section>

		<section>
			<h2>製造計画</h2>
			<a th:href="@{/productionPlans/list}" class="menu-btn">製造計画一覧</a>
			<a th:href="@{/productionPlans/register}" class="menu-btn">製造計画登録</a>
		</section>

		<section>
			<h2>マスタ管理</h2>
			<button>マスタ一覧</button>
		</section>

	</main>
	


</body>
</html>