<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
      <link rel="stylesheet" th:href="@{/css/products.css}">

    <title>原材料編集 - Food System Management</title>
</head>
<body>

<header>
    <div class="version">Ver.1.0</div>
    <h1 class="title">Food System Management</h1>
    <div class="header-right">
        <button type="button" onclick="location.href='/'">終了</button>
    </div>
</header>

<main class="page">

    <div class="page-header">
        <h2 th:text="${material.materialName} + ' の編集'">原材料編集</h2>
    </div>

    <div class="table-card">

        <form th:action="@{/materials/update}"
              th:object="${material}"
              method="post"
              class="edit-form">

            <input type="hidden" th:field="*{id}">

			<div class="form-group">
	                <label>原材料コード</label>
	                <input type="text" th:field="*{materialCode}">
	                <label>原材料名</label>
	                <input type="text" th:field="*{materialName}">
	                <label>単価</label>
	                <input type="number" th:field="*{price}">
	                <label>在庫数</label>
	                <input type="number" th:field="*{stockQuantity}">
					<label>単位</label>
					<input type="text" th:field="*{unit}">
					<label>賞味期限</label>
					<input type="date" th:field="*{expirationDate}">
			</div>

            <div class="form-actions">
                <a th:href="@{/materials/list}" class="back-btn">
                    ← 一覧へ戻る
                </a>

                <button type="submit" class="add-btn">
                    更新する
                </button>
            </div>

        </form>

    </div>

</main>
</body>
</html>