<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
<link rel="stylesheet" th:href="@{/css/products.css}">
<link rel="stylesheet" th:href="@{/css/common.css}">

<title>原材料登録 - Food System Management</title>
</head>
<body>

	<header>
		<div class="version">Ver.1.0</div>
		<h1 class="title">Food System Management</h1>
		<form th:action="@{/logout}" method="post">
			<div class="header-right">
				<button type="submit">ログアウト</button>
			</div>
		</form>
	</header>

	<main class="page">

		<div class="page-header">
			<h2>原材料登録</h2>
		</div>

		<div class="table-card">

			<form th:action="@{/materials}" th:object="${material}" method="post"
				class="edit-form">

				<div class="error-message" th:if="${#fields.hasErrors()}">
					<div th:errors="*{materialCode}"></div>
					<div th:errors="*{materialName}"></div>
					<div th:errors="*{standard}"></div>
					<div th:errors="*{price}"></div>
					<div th:errors="*{stockQuantity}"></div>
					<div th:errors="*{unit}"></div>
					<div th:errors="*{expirationDate}"></div>
				</div>

				<div class="form-group">
					<div>
						<label>原材料コード</label> <input type="text"
							th:field="*{materialCode}" placeholder="例：M001">
					</div>

					<div>
						<label>原材料名</label> <input type="text" th:field="*{materialName}"
							placeholder="例：小麦粉">
					</div>

					<div>
						<label>規格</label> <input type="text" th:field="*{standard}"
							placeholder="例：380g×10">
					</div>

					<div>
						<label>単価</label> <input type="number" th:field="*{price}"
							placeholder="例：350">
					</div>

					<div>
						<label>在庫数</label> <input type="number"
							th:field="*{stockQuantity}" placeholder="例：100">
					</div>

					<div class="form-group">
						<label>単位</label> <input type="text" th:field="*{unit}"
							placeholder="例：ケース">
					</div>

					<div>
						<label>賞味期限</label> <input type="date"
							th:field="*{expirationDate}">
					</div>
				</div>

				<div class="form-actions">

					<div style="display: flex; gap: 10px; flex-wrap: wrap;">
						<a th:href="@{/materials/list}" class="back-btn"> ← 原材料一覧へ戻る </a>

					</div>

					<button type="submit" class="add-btn">登録する</button>

				</div>

			</form>

		</div>

	</main>
</body>
</html>