<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet"
      href="https://unpkg.com/ress/dist/ress.min.css">
<link rel="stylesheet" th:href="@{/css/products.css}">

<title>製造計画一覧 - Food System Management</title>
</head>

<body>

<header>
    <div class="version">Ver.1.0</div>

    <h1 class="title">Food System Management</h1>

    <div class="header-right">
        <button type="button" onclick="location.href='/'">
            終了
        </button>
    </div>
</header>



<main class="page">

    <div th:if="${message}" class="success-message">
        <p th:text="${message}"></p>
    </div>

    <div class="page-header">

        <h2>製造計画一覧</h2>

        <a th:href="@{/productionPlans/register}"
           class="add-btn">
            ＋ 新規登録
        </a>

    </div>

    <div class="table-card">

        <table class="product-table">

            <thead>

            <tr>
                <th>ID</th>
                <th>注文ID</th>
                <th>商品名</th>
                <th>製造数量</th>
                <th>担当者</th>
                <th>ステータス</th>
                <th>製造日</th>
                <th></th>
                <th></th>
            </tr>

            </thead>

            <tbody>

            <tr th:each="plan : ${productionPlanList}">

                <td th:text="${plan.id}"></td>

                <td th:text="${plan.order.id}"></td>

                <td th:text="${plan.product.productName}"></td>

                <td th:text="${plan.plannedQuantity}"></td>

                <td th:text="${plan.assignedUser.userName}"></td>

                <td th:text="${plan.status}"></td>

                <td th:text="${plan.productionDate}"></td>

                <td>

                    <a th:href="@{/productionPlans/edit/{id}(id=${plan.id})}"
                       class="edit-btn">
                        編集
                    </a>

                </td>

                <td>

                    <form
                        th:action="@{/productionPlans/delete/{id}(id=${plan.id})}"
                        method="post"
                        th:attr="data-name=${plan.product.productName}"
                        onsubmit="return confirm('「' + this.dataset.name + '」を削除しますか？');">

                        <button type="submit"
                                class="edit-btn">
                            削除
                        </button>

                    </form>

                </td>

            </tr>

            </tbody>

        </table>

    </div>

    <div class="bottom-actions">

        <a th:href="@{/}" class="back-btn">
            ← 管理画面へ戻る
        </a>

    </div>

</main>

</body>
</html>