<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>受注一覧</title>

<link rel="stylesheet" th:href="@{/css/products.css}">
</head>

<body>

<header>
    <div class="version">Ver.1.0</div>

    <h1 class="title">Food System Management</h1>

    <div class="header-right">
        <button type="button" onclick="location.href='/'">
            終了
        </button>
    </div>
</header>

    <main class="page">

        <div class="page-header">
            <h2>受注一覧</h2>
            
			<div th:if="${message}" class="success-message">
			    <p th:text="${message}"></p>
			</div>

            <a th:href="@{/orders/register}" class="add-btn">
                ＋ 新規登録
            </a>
        </div>

        <div class="table-card">

            <table class="product-table">
                <thead>
                    <tr>
                        <th>受注番号</th>
                        <th>受注日</th>
                        <th>商品名</th>
                        <th>受注数量</th>
                        <th>納期</th>
                        <th>受注ステータス</th>
                        <th> </th>
						<th> </th>
                    </tr>
                </thead>

                <tbody>
                    <tr th:each="order : ${orderList}">
                        <td th:text="${order.orderNumber}"></td>
                        <td th:text="${order.orderDate}"></td>
                        <td th:text="${order.product.productName}"></td>
                        <td th:text="${order.orderQuantity}"></td>
                        <td th:text="${order.dueDate}"></td>
                        <td th:text="${order.status}"></td>
                        <td>
                            <a th:href="@{/orders/edit/{id}(id=${order.id})}"
                               class="edit-btn">
                                編集
                            </a>
                        </td>
						<td>
							<form th:action="@{/orders/delete/{id}(id=${order.id})}"
							      method="post"
							      th:attr="data-name=${order.orderNumber}"
							      onsubmit="return confirm('「' + this.dataset.name + '」を削除しますか？');">

							    <button type="submit" class="edit-btn">
							        削除
							    </button>

							</form>
						</td>
                    </tr>
                </tbody>
            </table>

        </div>

        <div class="bottom-actions">
            <a th:href="@{/top}" class="back-btn">
                ← 管理画面へ戻る
            </a>
        </div>

    </main>

</body>
</html>